<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Renesas RZ/V AI | The best solution for starting your AI applications." name="title">
    <meta name="keywords" content="rzv,ai application,ai app,edge ai,vision ai, aritificial intelligence">
    <meta name="description" content="Renesas Electronics provides AI Applications for Pre-trained AI model on RZ/V and AI SDK for application development.">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JRL1VWTZC1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JRL1VWTZC1');
    </script>
{% seo %}
    <link rel="stylesheet" href="{{ "assets/css/style.css?v=" | append: site.github.build_revision }}">
    <script src="assets/js/drm-ai_tvm.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

  </head>
  <body>

    <div class="container">
      <div class="row">
          <div class="top col-12">
            {{ page.title }}
          </div>
      </div>
    </div>
    <br>
    <br>

    <div class="wrapper">
      <section>
        {{ content }}
      </section>

   
      {% comment %}
        ページトップへ戻るボタン
      {% endcomment %}      
      
        <script>
        $(function () {
                var pagetop = $('.page-top-button');
                pagetop.hide();
                $(window).scroll(function () {
                  if ($(this).scrollTop() > 100) {
                    pagetop.fadeIn();
                  } else {
                    pagetop.fadeOut();
                  }
                });
                pagetop.click(function () {
                  $('body, html').animate({ scrollTop: 0 }, 500);
                  return false;
                });
              });
        </script>

        <div class="row">
              <div class="col-12" align="right">
                <a class=" page-top-button btn " href="#page-top" role="button" onclick="scrollToTop()">
                    Back to Top >
                </a>
            </div>
        </div>

 

      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
